<div class="swiper-area">
    <div class="swiper categorySwiper" type="EARING" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
        <div class="parallax-bg" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=44"><img src="/web/upload/category/mobile/shop1_44_title_950625.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">EARING</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=68"><img src="/web/upload/category/mobile/shop1_68_title_534941.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">STUD</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=69"><img src="/web/upload/category/mobile/shop1_69_title_914541.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">DROP</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=73"><img src="/web/upload/category/mobile/shop1_73_title_541042.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">RING HOOP</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=96"><img src="/web/upload/category/mobile/shop1_96_title_675379.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">EARCUFF</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script>
    // 상품목록 캐로셀
    var swiper = new Swiper(".categorySwiper", {
        // parallax
        speed: 600,
        parallax: true,
        // 슬라이드 효과
        effect: "fade",
        // 자동 슬라이드 ( 시간 설정 : delay -> 3s ( 3000 ) )
        autoplay: {
            delay: 3000,
            disableOnInteraction: false
        },
        scrollbar: {
            el: ".swiper-scrollbar",
            hide: true,
        }
    });    
</script>