<div class="swiper-area">
    <div class="swiper categorySwiper" type="S925" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
        <div class="parallax-bg" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/web/upload/category/mobile/shop1_55_title_661823.jpg" alt="slide image" />
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">S925</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/web/upload/category/mobile/shop1_55_title_661823.jpg" alt="slide image" />
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">S925</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/web/upload/category/mobile/shop1_55_title_661823.jpg" alt="slide image" />
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">S925</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>