<div class="swiper-area">
    <div class="swiper categorySwiper" type="RING" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
        <div class="parallax-bg" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=45"><img src="/web/upload/category/mobile/shop1_45_title_391109.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">RING</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=49"><img src="/web/upload/category/mobile/shop1_49_title_353701.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">ETERNITY</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=50"><img src="/web/upload/category/mobile/shop1_50_title_841286.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">SOLITAIRE</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>

<script>
    // 상품목록 캐로셀
    var swiper = new Swiper(".categorySwiper", {
        // parallax
        speed: 600,
        parallax: true,
        // 슬라이드 효과
        effect: "fade",
        // 자동 슬라이드 ( 시간 설정 : delay -> 3s ( 3000 ) )
        autoplay: {
            delay: 3000,
            disableOnInteraction: false
        },
        scrollbar: {
            el: ".swiper-scrollbar",
            hide: true,
        }
    });    
</script>