<div class="swiper-area">
    <div class="swiper categorySwiper" type="BRACELET" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
        <div class="parallax-bg" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=43"><img src="/web/upload/category/mobile/shop1_43_title_192930.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">BRACELET</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=92"><img src="/web/upload/category/mobile/shop1_92_title_300105.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">TENNIS</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/product/list_thumb.html?cate_no=93"><img src="/web/upload/category/mobile/shop1_93_title_190052.jpg" alt="slide image" /></a>
                <div class="description">
                    <div class="title" data-swiper-parallax="-300">LINK</div>
                    <div class="subtitle" data-swiper-parallax="-200"></div>
                    <div class="text" data-swiper-parallax="-100">
                        <p>
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        raindrop-jewerly raindrop-jewerly raindrop-jewerly raindrop-jewerly
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>