<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Image Carousel demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="../css/swiper.7.4.1.css" />
        <!-- demo styles -->
        <link rel="stylesheet" href="../css/carousel.css" />
        <style>            
        /* Menu css */
        ul { margin: auto; padding: 0; display: table; width:100%; display: inline-block; text-align: center; }
        li { display: inline-block; text-align: center; margin: 2%; }
        a { text-decoration: none; color: black; }
        li a img { width:80px; height: 80px; border-radius: 50%; -moz-border-radius: 50%; -khtml-border-radius: 50%; -webkit-border-radius: 50%; object-fit: cover; }
        li a:hover img { filter: brightness(70%); }
        li a p { margin: 0; vertical-align: middle; position: relative; }
        li a.active p { font-weight: bold; }

        </style>
    </head>

    <body>
        <div class="swiper-area">
            <!-- Swiper -->
            <div class="swiper categorySwiper" id="ct-1" 
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
                <div class="parallax-bg" data-swiper-parallax="-23%"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../img/ring-1.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">제목 예시 입니다.</div>
                            <div class="text" data-swiper-parallax="-100">
                            <p>
                                예시문구 입니다. 예시문구 입니다. 실제로 입력되는 
                                문구와는 다를 수 있습니다. 참고 만 부탁드립니다.
                                레인드랍 쥬얼리의 새로운 쥬얼리를 감상해보세요.
                            </p>
                            <a class="link-img" href="/product/list_thumb.html?cate_no=43">보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/ring-2.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">제목 예시 입니다.</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                예시문구 입니다. 예시문구 입니다. 실제로 입력되는 
                                문구와는 다를 수 있습니다. 참고 만 부탁드립니다.
                                레인드랍 쥬얼리의 새로운 쥬얼리를 감상해보세요.
                            </p>
                                <a class="link-img" href="/product/list_thumb.html?cate_no=43">보러가기</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/ring-3.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">제목 예시 입니다.</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                예시문구 입니다. 예시문구 입니다. 실제로 입력되는 
                                문구와는 다를 수 있습니다. 참고 만 부탁드립니다.
                                레인드랍 쥬얼리의 새로운 쥬얼리를 감상해보세요.
                            </p>
                                <a class="link-img" href="/product/list_thumb.html?cate_no=43">보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="swiper categorySwiper ds-none" id="ct-2"
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
                <div class="parallax-bg" data-swiper-parallax="-23%"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../img/earing-1.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 1</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/earing-2.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 2</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/earing-3.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 3</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="swiper categorySwiper ds-none" id="ct-3"
            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" >
                <div class="parallax-bg" data-swiper-parallax="-23%"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../img/necklace-1.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 1</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/necklace-2.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 2</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../img/necklace-3.jpg" alt="earing image" />
                        <div class="description">
                            <div class="title" data-swiper-parallax="-300">Slide 3</div>
                            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
                            <div class="text" data-swiper-parallax="-100">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                                Aliquam hendrerit lorem at elit facilisis rutrum. Ut at
                                ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec,
                                tincidunt ut libero. Aenean feugiat non eros quis feugiat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
            <div>
                <ul id="category">
                    <li><a href="#" target="_self" onclick="clickCategory(this);" category="ct-1" class="active" ><img src="../img/ring-1.jpg" alt="test image category 01" /><p>Ring</p></a></li>
                    <li><a href="#" target="_self" onclick="clickCategory(this);" category="ct-2"><img src="../img/necklace-1.jpg" alt="test image category 02" /><p>Necklace</p></a></li>
                    <li><a href="#" target="_self" onclick="clickCategory(this);" category="ct-3"><img src="../img/earing-1.jpg" alt="test image category 01" /><p>Earing</p></a></li>
                </ul>
            </div>
        </div>

        <!-- Swiper JS -->
        <script src="../js/swiper.min.7.4.1.js"></script>

        <!-- Initialize Swiper -->
        <script>
             var swiper = new Swiper(".categorySwiper", {
                // parallax
                speed: 600,
                parallax: true,
                // 슬라이드 효과
                effect: "fade",
                // 자동 슬라이드 ( 시간 설정 : delay -> 3s ( 3000 ) )
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false
                },
                scrollbar: {
                    el: ".swiper-scrollbar"
                }
            });

            function clickCategory(target) {
                $(".swiper").addClass("ds-none");

                var category = $(target).attr("category");
                $("#"+category).removeClass("ds-none");

                $("#category a").removeClass("active");
                $(target).addClass("active");
            }
      </script>
    </body>
</html>