/* common css */
.ds-none { display: none; }

/* base swiper css */
.swiper-area { position: relative; height: 100%; margin: 0; padding: 0; }
.swiper-area .swiper { width: 100%; height: 100%; }
.swiper-area .swiper-slide { display: block; width: 100%; color: #fff;
    /* Internet Explorer 10 */
    /* display:-ms-flexbox; */
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    /* display:-moz-box; */
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    /* display:-webkit-box; */
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    /* display:box; */
    box-pack:center;
    box-align:center;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* swiper parallax-bg css */
.swiper-area .parallax-bg { position: absolute; left: 0; top: 0; width: 130%; height: 100%; -webkit-background-size: cover; background-size: cover; background-position: center; }

.swiper-area .swiper-slide img { width: 100%; height: 50%; object-fit: cover; }
.swiper-area .swiper-slide .description { position: absolute; bottom: 0; left: 20px; text-align: left; color: #fff; }
.swiper-area .swiper-slide .title { font-size: 20px; font-weight: 400; text-align: left; padding-bottom: 8px; }
.swiper-area .swiper-slide .subtitle { font-size: 16px; }
.swiper-area .swiper-slide .text { font-size: 12px; max-width: 100%; line-height: 1.3; font-weight: lighter; }
.swiper-area .swiper-slide .text p { max-width: 65%; padding-bottom: 10px; }
.swiper-area .swiper-slide .link-img { color: #fff; float: right; padding: 0 25px 18px 0; text-decoration: revert; font-weight: lighter; font-size: 12px;}
.categorySwiper .swiper-scrollbar { width: 70% !important; height: 3px !important; bottom: 25px !important; left: 25px !important; }
.categorySwiper .swiper-scrollbar-drag { background-color: rgb(221 221 221); }


/* Desktop Browser width */
@media only screen and (min-width : 1280px) {
    /* .swiper-slide { max-width: 100%; height : auto; } */
}